.idea/
secret.tfvars
frog.zip
frog
.DS_Store

local.env

deploy
init.done

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
/Godeps/
**/.terraform/*
*.tfstate
*.tfvars
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json